.filter{
    padding: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    border: 1px solid #DFE5EC;
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25) ;
}
.list{
    font-size: 13px;
    display: flex;
    justify-content: space-around;
}
.listItem{
    display: inline;
    margin-top: 10px;
    vertical-align: middle;
    // border: 1px solid #DFE5EC;
    
}
.checkbox{
    visibility: hidden;
    vertical-align: middle;
    position: relative;
    width: 1px;
    height: 1px;
}
.checkbox::after{
    visibility: visible;
    position: absolute;
    content: " ";
    right: 2px;
    top: -10px;
    width: 20px;
    height: 20px;
    background-image: url(./Checkbox.svg);
}
.checkbox:checked::after{
    background-image: url(./Checkbox_checked.svg);
}
@media (min-width:960px) {
    .filter{
        width: 232px;
    float: left;
    height: 252px;
    margin-left: 50px;
    }
    .list {
        font-size: 13px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }
}