.main {
    min-width: 480px;
    max-width: 960px;
    background: #F3F7FA;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
@media (min-width:960px) {
    .main {
        padding-right: 103px;
    }
}